staging:
  deploy_to: "/home/deploy/consul"
  ssh_port: "21"
  server: "staging.consul.es"
  user: "deploy"
  git_http_username: ""
  git_http_password: ""

preproduction:
  deploy_to: "/home/deploy/consul"
  ssh_port: "2222"
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  user: "deploy"
  git_http_username: ""
  git_http_password: ""

production:
  deploy_to: "/home/deploy/consul"
  ssh_port: "22"
  server1: xxx.xxx.xxx.xxx
  server2: xxx.xxx.xxx.xxx
  user: "deploy"
  git_http_username: ""
  git_http_password: ""
